# Ambientes virtuais
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs e arquivos temporários
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak

# Configurações de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db

# Pacotes e distribuições
build/
dist/
*.egg-info/
.eggs/

# Testes
htmlcov/
.tox/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
test-results/

# Outros
*.env
*.db
*.sqlite3
